In [52]:
#=======
# EDA
#=======

#PASO 1 - RECOPILACION DE DATOS

In [38]:
#Carga de datos y visibilidad

import pandas as pd

ds = pd.read_csv("../data/processed/vehicles_PTS.csv")

ds.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [50]:
#PASO 2 - EXPLORACION Y LIMPIEZA DE DATOS

In [39]:
#Estructura y tipo de datos

ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [40]:
#Imprimo valores duplicados de algunas columnas de interes

print(ds['id'].duplicated().sum())
print(ds['image_url'].duplicated().sum())
print(ds['description'].duplicated().sum())
print(ds['lat'].duplicated().sum())
print(ds['long'].duplicated().sum())

0
184980
65968
373698
373107

In [41]:
#Verifico valores nulos de cada columna

nulos = ds.isnull().sum()
nulos

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [42]:
#Elimino columnas innecesarias

ds.drop(['id','url','region_url','condition','cylinders','title_status','VIN','drive','size','paint_color','image_url','description','county'],axis=1,inplace=True)

In [47]:
#Muestro ds con estructura actualizada

ds.head()

,region,price,year,manufacturer,model,fuel,odometer,transmission,type,state,lat,long,posting_date
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [48]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   fuel          423867 non-null  object
 6   odometer      422480 non-null  float64
 7   transmission  424324 non-null  object
 8   type          334022 non-null  object
 9   state         426880 non-null  object
 10  lat           420331 non-null  float64
 11  long          420331 non-null  float64
 12  posting_date  426812 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 42.3+ MB

In [49]:
#PASO 3 - ANALISIS UNIVARIANTE

In [54]:
import matplotlib.pyplot as plt
import seaborn as sns

fig,axis = plt.subplots(2,2,figsize=(10,8))

sns.histplot(ax=axis[0,0],data=ds,x='region')
sns.histplot(ax=axis[0,1],data=ds,x='manufacturer')
sns.histplot(ax=axis[1,0],data=ds,x='model')
sns.histplot(ax=axis[1,1],data=ds,x='transmission')

ModuleNotFoundError: No module named 'matplotlib'