In [7]:
#EDA PABLO

import pandas as pd

df_pts = pd.read_csv("../data/processed/vehicles_PTS.csv",quotechar='"')

df_pts.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [13]:
df_pts.info

<bound method DataFrame.info of                 id                                                url  \
0       7222695916  https://prescott.craigslist.org/cto/d/prescott...
1       7218891961  https://fayar.craigslist.org/ctd/d/bentonville...
2       7221797935  https://keys.craigslist.org/cto/d/summerland-k...
3       7222270760  https://worcester.craigslist.org/cto/d/west-br...
4       7210384030  https://greensboro.craigslist.org/cto/d/trinit...
...            ...                                                ...
426875  7301591192  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426876  7301591187  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426877  7301591147  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426878  7301591140  https://wyoming.craigslist.org/ctd/d/atlanta-2...
426879  7301591129  https://wyoming.craigslist.org/ctd/d/atlanta-2...

                        region                         region_url  price  \
0                     prescott    https://prescott.craigslist.org   6000
1                 fayetteville       https://fayar.craigslist.org  11900
2                 florida keys        https://keys.craigslist.org  21000
3       worcester / central MA   https://worcester.craigslist.org   1500
4                   greensboro  https://greensboro.craigslist.org   4900
...                        ...                                ...    ...
426875                 wyoming     https://wyoming.craigslist.org  23590
426876                 wyoming     https://wyoming.craigslist.org  30590
426877                 wyoming     https://wyoming.craigslist.org  34990
426878                 wyoming     https://wyoming.craigslist.org  28990
426879                 wyoming     https://wyoming.craigslist.org  30590

          year manufacturer                     model condition    cylinders  \
0          NaN          NaN                       NaN       NaN          NaN
1          NaN          NaN                       NaN       NaN          NaN
2          NaN          NaN                       NaN       NaN          NaN
3          NaN          NaN                       NaN       NaN          NaN
4          NaN          NaN                       NaN       NaN          NaN
...        ...          ...                       ...       ...          ...
426875  2019.0       nissan         maxima s sedan 4d      good  6 cylinders
426876  2020.0        volvo  s60 t5 momentum sedan 4d      good          NaN
426877  2020.0     cadillac          xt4 sport suv 4d      good          NaN
426878  2018.0        lexus           es 350 sedan 4d      good  6 cylinders
426879  2019.0          bmw  4 series 430i gran coupe      good          NaN

        ... size       type paint_color  \
0       ...  NaN        NaN         NaN
1       ...  NaN        NaN         NaN
2       ...  NaN        NaN         NaN
3       ...  NaN        NaN         NaN
4       ...  NaN        NaN         NaN
...     ...  ...        ...         ...
426875  ...  NaN      sedan         NaN
426876  ...  NaN      sedan         red
426877  ...  NaN  hatchback       white
426878  ...  NaN      sedan      silver
426879  ...  NaN      coupe         NaN

                                                image_url  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
426875  https://images.craigslist.org/00o0o_iiraFnHg8q...
426876  https://images.craigslist.org/00x0x_15sbgnxCIS...
426877  https://images.craigslist.org/00L0L_farM7bxnxR...
426878  https://images.craigslist.org/00z0z_bKnIVGLkDT...
426879  https://images.craigslist.org/00Y0Y_lEUocjyRxa...

                                              description county state  \
0                                                     NaN    NaN    az
1                                                     NaN    NaN    ar
2                                                     NaN    NaN    fl
3                                                     NaN    NaN    ma
4                                                     NaN    NaN    nc
...                                                   ...    ...   ...
426875  Carvana is the safer way to buy a car During t...    NaN    wy
426876  Carvana is the safer way to buy a car During t...    NaN    wy
426877  Carvana is the safer way to buy a car During t...    NaN    wy
426878  Carvana is the safer way to buy a car During t...    NaN    wy
426879  Carvana is the safer way to buy a car During t...    NaN    wy

              lat       long              posting_date
0             NaN        NaN                       NaN
1             NaN        NaN                       NaN
2             NaN        NaN                       NaN
3             NaN        NaN                       NaN
4             NaN        NaN                       NaN
...           ...        ...                       ...
426875  33.786500 -84.445400  2021-04-04T03:21:31-0600
426876  33.786500 -84.445400  2021-04-04T03:21:29-0600
426877  33.779214 -84.411811  2021-04-04T03:21:17-0600
426878  33.786500 -84.445400  2021-04-04T03:21:11-0600
426879  33.779214 -84.411811  2021-04-04T03:21:07-0600

[426880 rows x 26 columns]>

In [25]:
#Imprimo valores repetidos de algunas columnas 

print(df_pts['id'].duplicated().sum())
print(df_pts['image_url'].duplicated().sum())
print(df_pts['description'].duplicated().sum())
print(df_pts['lat'].duplicated().sum())
print(df_pts['long'].duplicated().sum())

0
184980
65968
373698
373107

In [26]:
nulos = df_pts.isnull().sum()
nulos

id                   0
url                  0
region               0
region_url           0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
image_url           68
description         70
county          426880
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [ ]:
df_pts.drop['id',]