In [6]:
import pandas as pd

df = pd.read_csv("C:\\Users\\sergi\\Proyectos\\Proyecto_Final\\data\\processed\\vehicles_clean_fact.csv", quotechar='"')

In [7]:
df = df.drop(columns = ['lat', 'long'])
df

,price,year,manufacturer,model,fuel,odometer,transmission,drive,size,type,state
0,22590,2010.0,0,0,0,71229.0,0,0,0,0,0
1,30990,2017.0,1,1,0,41124.0,0,0,0,0,0
2,15000,2013.0,2,2,0,128000.0,1,1,0,1,0
3,35000,2019.0,1,3,0,43000.0,1,0,1,1,0
4,29990,2016.0,0,4,0,17302.0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
293244,29590,2016.0,1,154,0,53475.0,1,0,0,3,50
293245,0,2010.0,1,149,0,155000.0,1,0,1,11,50
293246,32590,2020.0,11,429,0,19059.0,0,1,2,6,50
293247,33590,2018.0,18,1535,0,30814.0,1,1,1,6,50
293248,23590,2019.0,4,583,0,32226.0,0,2,0,6,50

In [8]:
# normalizar datos

from sklearn.preprocessing import MinMaxScaler

num_variables = ['price','year','manufacturer','model','fuel','odometer','transmission','drive','size','type','state']

scaler = MinMaxScaler()
variables_escaladas = scaler.fit_transform(df[num_variables])
df_escalado = pd.DataFrame(variables_escaladas, index=df.index,columns=num_variables)

df_escalado

,price,year,manufacturer,model,fuel,odometer,transmission,drive,size,type,state
0,0.115846,0.612903,0.000000,0.000000,0.0,0.284916,0.0,0.0,0.000000,0.000000,0.0
1,0.158923,0.838710,0.025641,0.000113,0.0,0.164496,0.0,0.0,0.000000,0.000000,0.0
2,0.076923,0.709677,0.051282,0.000226,0.0,0.512000,0.5,0.5,0.000000,0.083333,0.0
3,0.179487,0.903226,0.025641,0.000339,0.0,0.172000,0.5,0.0,0.333333,0.083333,0.0
4,0.153795,0.806452,0.000000,0.000451,0.0,0.069208,0.0,0.0,0.333333,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
293244,0.151744,0.806452,0.025641,0.017380,0.0,0.213900,0.5,0.0,0.000000,0.250000,1.0
293245,0.000000,0.612903,0.025641,0.016815,0.0,0.620000,0.5,0.0,0.333333,0.916667,1.0
293246,0.167128,0.935484,0.282051,0.048414,0.0,0.076236,0.0,0.5,0.666667,0.500000,1.0
293247,0.172256,0.870968,0.461538,0.173231,0.0,0.123256,0.5,0.5,0.333333,0.500000,1.0
293248,0.120974,0.903226,0.102564,0.065794,0.0,0.128904,0.0,1.0,0.000000,0.500000,1.0

In [9]:
from sklearn.model_selection import train_test_split

X = df_escalado.drop(['price'], axis=1)  
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Lasso, SGDRegressor, Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Lista de modelos de regresiÃ³n
regression_models = [
    GradientBoostingRegressor(),
    DecisionTreeRegressor(),
    RandomForestRegressor(),
    KNeighborsRegressor(),
    Lasso(max_iter=10000),
    SGDRegressor(max_iter=10000),
    Ridge()
]

# Entrenar y evaluar los modelos de regresiÃ³n
print("Modelos de RegresiÃ³n:")
for model in regression_models:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{type(model).__name__} R2 Score: {r2:.2f}")

Modelos de RegresiÃ³n:
GradientBoostingRegressor R2 Score: 0.53
DecisionTreeRegressor R2 Score: 0.60
RandomForestRegressor R2 Score: 0.77
KNeighborsRegressor R2 Score: 0.63
Lasso R2 Score: 0.40
SGDRegressor R2 Score: 0.40
Ridge R2 Score: 0.40